<div class="col-xl-3 col-lg-3 col-12">
    <!-- Carousel Navigatiom -->
    <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-slide-number="0">
                <div class="row mx-0 .row-content d-flex  align-items-center justify-content-center">
                    <div id="carousel-selector-32" class="thumb col-xl-12 col-lg-12 col-md-6 col-3 px-1 py-2 selected"
                        data-target="#carousel" data-slide-to="32">
                        <img src="http://chicco.test.np/gallary/large202109054758category900x900.jpg" class="img-fluid">
                    </div>
                    <div id="carousel-selector-34" class="thumb col-xl-12 col-lg-12 col-md-6 col-3 px-1 py-2 selected"
                        data-target="#carousel" data-slide-to="34">
                        <img src="http://chicco.test.np/gallary/large202109050158product_1_900x900.jpg"
                            class="img-fluid">
                    </div>
                    <div id="carousel-selector-35" class="thumb col-xl-12 col-lg-12 col-md-6 col-3 px-1 py-2 selected"
                        data-target="#carousel" data-slide-to="35">
                        <img src="http://chicco.test.np/gallary/large202109050215product_2_900x900.jpg"
                            class="img-fluid">
                    </div>
                    <div id="carousel-selector-36" class="thumb col-xl-12 col-lg-12 col-md-6 col-3 px-1 py-2 selected"
                        data-target="#carousel" data-slide-to="36">
                        <img src="http://chicco.test.np/gallary/large202109050235product_3_900x900.jpg"
                            class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-slide-number="1">
                <div class="row mx-0 .row-content d-flex  align-items-center justify-content-center">
                    <div id="carousel-selector-37" class="thumb col-xl-12 col-lg-12 col-md-6 col-3 px-1 py-2 selected"
                        data-target="#carousel" data-slide-to="37">
                        <img src="http://chicco.test.np/gallary/large202109052217product_4_900x900.jpg"
                            class="img-fluid">
                    </div>
                    <div id="carousel-selector-38" class="thumb col-xl-12 col-lg-12 col-md-6 col-3 px-1 py-2 selected"
                        data-target="#carousel" data-slide-to="38">
                        <img src="http://chicco.test.np/gallary/large202109052232product_5_900x900.jpg"
                            class="img-fluid">
                    </div>
                    <div id="carousel-selector-39" class="thumb col-xl-12 col-lg-12 col-md-6 col-3 px-1 py-2 selected"
                        data-target="#carousel" data-slide-to="39">
                        <img src="http://chicco.test.np/gallary/large202109052248product_6_900x900.jpg"
                            class="img-fluid">
                    </div>
                    <div id="carousel-selector-40" class="thumb col-xl-12 col-lg-12 col-md-6 col-3 px-1 py-2 selected"
                        data-target="#carousel" data-slide-to="40">
                        <img src="http://chicco.test.np/gallary/large202109052304product_7_900x900.jpg"
                            class="img-fluid">
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
            <span class="icon-prv">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
            <span class="icon-nxt">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="col-xl-9 col-lg-9 col-12">
    <!-- Carousel -->
    <div id="carousel" class="carousel slide gallery" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-slide-number="32" data-toggle="lightbox" data-gallery="gallery"
                data-remote="http://chicco.test.np/gallary/large202109054758category900x900.jpg">
                <img src="http://chicco.test.np/gallary/large202109054758category900x900.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item " data-slide-number="34" data-toggle="lightbox" data-gallery="gallery"
                data-remote="http://chicco.test.np/gallary/large202109050158product_1_900x900.jpg">
                <img src="http://chicco.test.np/gallary/large202109050158product_1_900x900.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item " data-slide-number="35" data-toggle="lightbox" data-gallery="gallery"
                data-remote="http://chicco.test.np/gallary/large202109050215product_2_900x900.jpg">
                <img src="http://chicco.test.np/gallary/large202109050215product_2_900x900.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item " data-slide-number="36" data-toggle="lightbox" data-gallery="gallery"
                data-remote="http://chicco.test.np/gallary/large202109050235product_3_900x900.jpg">
                <img src="http://chicco.test.np/gallary/large202109050235product_3_900x900.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item " data-slide-number="37" data-toggle="lightbox" data-gallery="gallery"
                data-remote="http://chicco.test.np/gallary/large202109052217product_4_900x900.jpg">
                <img src="http://chicco.test.np/gallary/large202109052217product_4_900x900.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item " data-slide-number="38" data-toggle="lightbox" data-gallery="gallery"
                data-remote="http://chicco.test.np/gallary/large202109052232product_5_900x900.jpg">
                <img src="http://chicco.test.np/gallary/large202109052232product_5_900x900.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item " data-slide-number="39" data-toggle="lightbox" data-gallery="gallery"
                data-remote="http://chicco.test.np/gallary/large202109052248product_6_900x900.jpg">
                <img src="http://chicco.test.np/gallary/large202109052248product_6_900x900.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item " data-slide-number="40" data-toggle="lightbox" data-gallery="gallery"
                data-remote="http://chicco.test.np/gallary/large202109052304product_7_900x900.jpg">
                <img src="http://chicco.test.np/gallary/large202109052304product_7_900x900.jpg" class="d-block w-100"
                    alt="...">
            </div>

        </div>
    </div>
</div>